@model IEnumerable<DriveAcademyMVC.Models.Car>

@{
    ViewData["Title"] = "Lista samochodów: ";
}
<a href="@Url.Action("Add")" class="btn btn-success">Dodaj nowy samochód</a>

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id Samochodu</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Nr Rejestracyjnny</th>
            <th>Rok Produkcji</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.CarId</td>
                <td>@car.Mark</td>
                <td>@car.Model</td>
                <td>@car.NrRej</td>
                <td>@car.ProdYear</td>              
                <td>
                    <a href="@Url.Action("Edit", new { id = car.CarId })" class="btn btn-primary">Edytuj</a>
                    <a href="@Url.Action("Delete", new { id = car.CarId })" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>